# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
elpa
smex-items
snippets
recentf
ido.*
ac-comphist*
.mc-lists.el

snippets
backups
transient
bookmarks
srecode-map.el
.cache
projectile-bookmarks.eld
anaconda-mode
elpy
meghanada
indium-chrome-profile
persist
.org-id-locations
org-templates
org-journal.cache

url
vimish-fold
amx-items
rake.cache
/.persistent-scratch
/eshell/lastdir
/.last-package-update-day
/forge-database.sqlite
/projectile.cache
/request/
/var/
eshell
templates
